/*
    CONVENCIÓN DE ORDEN DE PROPIEDADES (posicion → dimensiones → visuales → bordes → tipografía → efectos)
*/

:root {
    /* === COLORES PRINCIPALES === */
    --color-primario: #373636;
    --color-secundario: #F8C013;
    --color-gris-oscuro: #5D5D5D;
    --color-gris-claro: #E5E5E5;
    --color-gris-medio: #A9A9A9;
    --color-gris-suave: #D9D9D9;
    --color-verde: #009F2A;
    --color-negro: #292929;
    --color-gris-profundo: #323131;
    --color-rojo: #D80004;
    --color-blanco: #fff;
    --color-blanco-2: #f2f2f2;
    --color-azul: #6255E9;

    /* === VARIANTES DE OPACIDAD === */
    --color-primario-80: rgba(55, 54, 54, 0.8);     /* #373636 80% */
    --color-gris-35: rgba(93, 93, 93, 0.35);        /* #5D5D5D 35% */
    --color-verde-40: rgba(0, 159, 42, 0.4);        /* #009F2A 40% */
    --color-rojo-50: rgba(216, 0, 4, 0.5);          /* #D80004 50% */
    --color-amarillo-20: rgba(248, 192, 19, 0.2);   /* #F8C013 20% */

    /* ===========================
        TIPOGRAFÍA Y TAMAÑOS
        Typography & Sizing
    ============================ */

    /* === SOMBRAS Y PROFUNDIDAD === */
    --shadow-base: 0 4px 15px rgba(0,0,0,0.1);
    --shadow-elevada: 0 6px 8px rgba(0, 0, 0, 0.3);
    --shadow-suave: 0 2px 3px rgba(0, 0, 0, 0.15);

    /* === TIPOGRAFÍA === */
    --font-family-primary: "Poppins", sans-serif;
    --font-family-secondary: "Roboto", sans-serif;

    /* === ESCALA DE TAMAÑOS DE FUENTE === */
    --font-size-12: 75%;   /* Etiquetas o notas */
    --font-size-14: 87.5%;    /* Texto informativo */
    --font-size-16: 100%;      /* Cuerpo de texto */
    --font-size-18: 112.5%;   /* Subtítulos */
    --font-size-20: 125%;    /* Encabezados medianos */
    --font-size-24: 150%;     /* Títulos principales */
    --font-size-32: 200%;   /* Titulares destacados */
    --font-size-responsive-sm: 1vw;
    --font-size-responsive-md: 1.5vw;

    /* === PESOS TIPOGRÁFICOS === */
    --font-weight-thin: 100;
    --font-weight-extra-light: 200;
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semi-bold: 600;
    --font-weight-bold: 700;
    --font-weight-extra-bold: 800;
    --font-weight-black: 900;
}
*{
    /* 1) Posicionamiento y caja */
    box-sizing: border-box;

    /* 2) Reset */
    padding: 0;
    margin: 0;
}
body{
    /* 3) Visuales */
    background-color: var(--color-blanco-2);

    /* 5) Tipografía */
    font-size: var(--font-size-responsive-sm);
    font-family: var(--font-family-primary);
    font-weight: var(--font-weight-medium);
    font-style: normal;
}

i{
    line-height: 0;
}

.Contenedor_Filtros{
    display: flex;
    flex-direction: column;

    padding: 20px 0;
    padding-top: 25px;
    width: 100%;
    height: auto;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.Contenedor_Buscador{
    display: flex;
    width: 100%;
    height: 100%;

    padding: 0 20px;
    justify-content: start;
    align-items: center;
}
.Contenedor_select{
    display: flex;
    width: 100%;
    height: 100%;

    padding: 0 20px;
    gap: 0 12px ;
    justify-content: start;
    align-items: center;
}
.Contenedor_btn{
    display: flex;
    width: 100%;
    height: 100%;

    padding: 0 20px;
    gap: 0 12px ;
    justify-content: flex-end;
    align-items: center;
}
.filtro{
    padding: 10px 15px;
    background-color: var(--color-blanco);
    border-radius: 5px;
    color: var(--color-primario-80);
    font-size: var(--font-size-14);
    font-family: var(--font-family-primary);
    font-weight: var(--font-weight-regular);
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: var(--shadow-base);
    border: none;
}
.filtro:focus{
    outline: none;
}
.filtro option{
    color: var(--color-primario-80);
    background-color: var(--color-blanco);
    border: 1px solid var(--color-primario-80);
    outline: none;
}
.Buscador{
    overflow: hidden;
    display: flex;
    width: auto;
    height: auto;

    background: var(--color-blanco);
    box-shadow: var(--shadow-base);
    border-radius: 5px;
}
.Buscador button{
    display: flex;
    padding: 10px 15px;
    width: auto;
    height: 100%;

    justify-content: center;
    align-items: center;

    background-color: transparent;
    border: none;

    cursor: default;
}
.Buscador button i{
    color: var(--color-gris-profundo);
    font-size: var(--font-size-24);

    transition: all 0.2s ease;
}
.Buscador button:hover i:hover{
    color: var(--color-secundario);
}
#buscador{
    width: 25vw;

    border: none;
    background: transparent;
    padding: 0 20px 0 0 ;
    cursor: text;

    font-family: var(--font-family-primary);

}
#buscador:focus{
    outline: none;
    color: var(--color-negro);
}

.Tablas {
    /* 1) Posicionamiento / layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* 2) Dimensiones */
    width: 100%;
    height: 63vh;
    gap: 10px;
}
.content_Tablas {
    width: 98%;
    height: 100%;
    background: var(--color-blanco);
    border-radius: 12px;
    border: 20px solid var(--color-blanco);
    box-shadow: var(--shadow-base);
    overflow-y: auto;   /* scroll vertical */
    overflow-x: auto; /* NO scroll horizontal aquí */
}
table {
    background: var(--color-blanco);
    width: 100%;
    min-width: 1350px;
    border-collapse: collapse;
    font-family: var(--font-family-primary);
}
thead {
    width: 100%;
    background-color: var(--color-gris-claro);
    border-radius: 5px;
    position: sticky;
    user-select: none;
    top: 0;               /* Encabezado pegado */
    z-index: 0;
}

thead th {
    padding: 15px 8px!important;
    font-size: var(--font-size-14)!important;
    font-weight: var(--font-weight-semi-bold)!important;
    font-family: var(--font-family-primary)!important;
    color: var(--color-primario-80)!important;
    text-align: center!important;
    white-space: nowrap!important;
    text-transform: uppercase!important;
    border-bottom: none!important;
}
thead, tbody tr {
    display: table!important;
    width: 100%!important;
    table-layout: fixed!important;
}
tbody td {
    padding: 10px 8px!important;
    border-bottom: 1px solid #eee!important;
    font-size: var(--font-size-12)!important;
    color: var(--color-primario-80)!important;
    user-select: none!important;
    text-align: center!important;
    font-weight: var(--font-weight-regular);
}

tbody tr:hover {
    background-color: #f4f4f4!important;
}


/* Opcional: columnas ajustadas automáticamente */
table th, table td {
    width: auto!important;
}

/* Si quieres que las columnas tengan el mismo ancho, descomenta */
/*
table th, table td {
    width: calc(100% / 8);
}
*/
/* Estilo personalizado para navegadores Webkit (Chrome, Edge, Safari) */
.content_Tablas::-webkit-scrollbar {
    width: 10px;            /* ancho del scroll vertical */
    height: 10px;   
}

.content_Tablas::-webkit-scrollbar-track {
    background: none;    /* color del fondo del track */
    border-radius: 8px;
}

.content_Tablas::-webkit-scrollbar-thumb {
    background-color: var(--color-gris-suave); /* color del thumb */
    border-radius: 8px;
    border: 2px solid var(--color-gris-claro); /* espacio alrededor del thumb */
}

/* Ocultar iconos de ordenamiento de DataTables */
table.dataTable thead .sorting:before,
table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc:after {
    display: none !important;
}

#paginador{
    display: flex;
    width: auto;
    justify-content: center;
    align-items: center;
    user-select: none;
    padding: 10px 15px;
}
#btnPrev i,#btnNext i{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    user-select: none;
    line-height: 0%;
}
#btnPrev,#btnNext{
    border: none;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    padding: 0px 15px;
    font-size: var(--font-size-20);
    color: var(--color-primario-80);
    user-select: none;
}
#infoPagina{
    user-select: none;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-family: var(--font-family-primary);
    color: var(--color-primario-80);
    font-size: var(--font-size-14);
    font-weight: var(--font-weight-medium);
    padding: 0px 10px;
}


.btn{
    display: flex;
    justify-content: center;
    width: auto;
    height: auto;
    align-items: center;
    border: 1px solid;
    padding: 10px 15px;
    background-color: var(--color-blanco);
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    font-size: var(--font-size-20);
    transition: all 0.5s ease;
    cursor: pointer;
    user-select: none;
    gap: 5px;
}
.btn i{
    line-height: 0%;
    padding-right: 5px;
}

.btn.azul{
    border-color: var(--color-azul);
    color: var(--color-azul);
}
.btn.azul:hover{
    border-color: var(--color-blanco);
    color: var(--color-blanco);
    background-color: var(--color-azul);
}

.btn.amarillo{
    border-color: var(--color-secundario);
    color: var(--color-secundario);
}
.btn.amarillo:hover{
    border-color: var(--color-blanco);
    color: var(--color-blanco);
    background-color: var(--color-secundario);
}

.btn.rojo{
    border-color: var(--color-rojo);
    color: var(--color-rojo);
}
.btn.rojo:hover{
    border-color: var(--color-blanco);
    color: var(--color-blanco);
    background-color: var(--color-rojo);
}

.btn.verde{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border-color: var(--color-verde);
    color: var(--color-verde);
    box-shadow: var(--shadow-base);
    font-size: var(--font-size-14);
    font-family: var(--font-family-primary);
    border-radius: 5px;
}
.btn.verde:hover{
    border-color: var(--color-blanco);
    color: var(--color-blanco);
    background-color: var(--color-verde);
}
.btn.verde i{
    font-size: var(--font-size-20);
    line-height: 0%;
}

.Name_link{
    color: var(--color-azul);
}


.btn.error:active{
    animation: shakeNo 0.2s ease;
}

@keyframes shakeNo {
    0% { transform: translateX(0); }
    20% { transform: translateX(-10px); }
    40% { transform: translateX(10px); }
    60% { transform: translateX(-10px); }
    80% { transform: translateX(10px); }
    100% { transform: translateX(0); }
}
